body{
    background-color: whitesmoke;
    margin: 0px;
    height: 100vh;
    font-family: sans-serif, Arial;
}

%search {
    padding: 7px;
    margin: 10px;
    background-color:rgb(0, 102, 255);
    color:white;
    cursor: pointer;
    border: 0;
    border-radius: 25px;
}

%search:hover {
    background-color: blue;
}

.tab{
    @extend %search;
    @extend %search:hover;
    float: right;
}

.heading{
    text-align: center;
    margin: auto;
    margin-left: 29%;
    position: relative;
    top: 50%;
    transform: translateY(250%);
}

.center{
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(575%);
    width: 50%;
    padding: 10px 0;
}

.search-bar{
    border-radius: 25px;
    border: 1px solid gray;
    outline-color: rgb(0, 102, 255);
    padding: 10px; 
    width: 90%;
    margin-left: 1%;
    height: 13px; 
}

.advanced_label{
    margin: auto;
    padding: 20px;
    padding-right: 50px;
}

.advanced_words{
    border-radius: 25px;
    margin-top: 8px;
    margin-left: 20%;
    border: 1px solid black;
    padding: 7px; 
    width: 125%;
    margin-left: 1%;
    height: 13px; 
}

.example{
    padding-left: 20%;
    font-size: 80%;
}