button{
    padding: 7px;
    margin: 10px;
    background-color:azure;
    cursor: pointer;
}
button:hover{
    background-color: aliceblue;
}
.tab{
        float: right;
}
.heading{
    text-align: center;
    margin: auto;
    margin-left: 29%;
    position: relative;
    top: 50%;
    transform: translateY(1400%);
    font-family: sans-serif;
}
.center{
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(600%);
    width: 50%;
    border: 1px solid black;
    padding: 10px 0;
}
.search-bar{
    margin: auto;
    width: 90%;
    border: 1px solid black;
    margin-left: 4%;
    padding: 7px;
}
.search{
    margin-top: 10px;
    margin-left: 44%;
    margin-right: 50%;
    padding: 7px 0;
    background-color:azure;
    cursor: pointer;
  }
.search:hover{
    background-color: aliceblue; 
  }